{% extends "base.html" %}

{% block title %}Загрузка конфигурации{% endblock %}

{% block header %}Загрузка конфигурации{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="ice" accept=".xlsx">
        <input type="file" name="ships" accept=".xlsx">
        <input type="file" name="icebreakers" accept=".xlsx">
        <button type="submit">Загрузить</button>
        {% include 'flash_messages.html' %}
    </form>
{% endblock %}
{% set current_page_is_home = false %}
{% block nav %}
    {{ super() }}
{% endblock %}